{{ define "main" }}
<article>
  <h1 class="title">{{ .Title }}</h1>
      <div class="article-meta">
          <img src="/image/calendar.svg" alt="calendar">
          <p>{{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}</p>
          <img src="/image/category.svg" alt="category">
          <p>{{ .Params.categories }}</p>
          <img src="/image/pageview.svg" alt="pageview">
          <p id="pv">0</p>
      </div>
      <div class="content">
        {{ .Content }}
      </div>
      {{- partial "donated.html" . -}}

      {{ if .Params.videoinfo_block.videoinfo }}
      {{- partial "video_info.html" . -}}
      {{ end }}

      {{- partial "article_navigation.html" . -}}
</article>

{{ end }}