<div id="buy-me-a-coffee" class="buy-me-a-coffee">
    <div class="inner">
            <img src="/image/coffee-ani.svg" alt="coffee" class="coffee">
        <div class="coffee-content">
            <h3>請我喝杯咖啡，讓我有持續創作的動力吧！</h3>
            <button class="buyacafe">請我喝咖啡</button>
        </div>
    </div>
    <div class="htdonate hide">
        <button class="close"></button>
        <div class="donate-mobi">
            <button class="jkpay" onclick="window.location.href='https://www.jkopay.com/transfer?j=Transfer:900506431';"></button>
            <button class="ipass" onclick="window.location.href='https://line.me/R/ch/1586237320/?forwardPath=/c2c/transfer&no=21030606079';"></button>
            <button class="ezpay" onclick="window.location.href='https://p.ecpay.com.tw/91AC6C5';"></button>
        </div>
        <div class="donate-web">
            <div class="qrcode">
                <img src="https://chart.googleapis.com/chart?cht=qr&chs=500x500&chl=https://www.jkopay.com/transfer?j=Transfer:900506431" alt="街口支付">
                <p>街口支付</p>
            </div>
            <div class="qrcode">
                <img src="https://chart.googleapis.com/chart?cht=qr&chs=500x500&chl=https://line.me/R/ch/1586237320/?forwardPath=/c2c/transfer&no=21030606079" alt="iPASS MONEY<">
                <p>iPASS MONEY</p>
            </div>
            <div class="qrcode">
                <img src="https://chart.googleapis.com/chart?cht=qr&chs=500x500&chl=https://p.ecpay.com.tw/91AC6C5" alt="綠界科技">
                <p>綠界科技</p>
            </div>
        </div>
    </div>
</div>