<!-- Title -->
{{ if .IsHome }}
<meta property="og:title" content="{{ .Title }} | 用文字及影像筆記我的生活" />
{{ else }}
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
{{ end }}
<meta property="ia:markup_url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ if .Params.featuredimage }}
{{ $og := resources.Get .Params.featuredimage }}
<meta name="image" content="{{ $og.RelPermalink  | absLangURL }}" />
<meta property="og:image" content="{{ $og.RelPermalink | absLangURL  }}" />
<meta property="og:image:alt" content="{{ .Title }}" />
<meta name="twitter:image" content="{{ $og.RelPermalink | absLangURL }}" />
{{ else }}
<meta name="image" content="{{ .Site.Params.opengraphImage | absLangURL }}" />
<meta property="og:image" content="{{ .Site.Params.opengraphImage | absLangURL  }}" />
<meta property="og:image:alt" content="{{ .Title }}" />
<meta name="twitter:image" content="{{ .Site.Params.opengraphImage | absLangURL }}" />
{{ end }}
{{ if .Params.description }}
<meta name="description" content="{{ .Params.description }}">
<meta property="og:description" content="{{ .Params.description }}" />
<meta name="twitter:description" content="{{ .Params.description }}" />
{{ else }}
<meta name="description" content="{{ .Site.Params.description}}">
<meta property="og:description" content="{{ .Site.Params.description}}" />
<meta name="twitter:description" content="{{ .Site.Params.description}}" />
{{ end }}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splash_screens/12.9__iPad_Pro_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splash_screens/10.9__iPad_Air_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splash_screens/10.5__iPad_Air_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splash_screens/10.2__iPad_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="splash_screens/iPhone_14_Pro_Max__iPhone_14_Max__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="splash_screens/iPhone_14_Pro__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splash_screens/iPhone_11__iPhone_XR_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splash_screens/12.9__iPad_Pro_portrait.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splash_screens/11__iPad_Pro__10.5__iPad_Pro_portrait.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splash_screens/10.9__iPad_Air_portrait.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splash_screens/10.5__iPad_Air_portrait.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splash_screens/10.2__iPad_portrait.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="splash_screens/iPhone_14_Pro_Max__iPhone_14_Max__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="splash_screens/iPhone_14_Pro__iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splash_screens/iPhone_11__iPhone_XR_portrait.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png">
<link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="canonical" href="{{ .Permalink }}">
{{ if eq .Type "about"}}
{{ $og := resources.Get .Params.featuredimage }}
<script type="application/ld+json">
  [{
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
      },
      "headline": "{{ .Title }} | {{ .Site.Title }}",
      "image": "{{ $og.RelPermalink }}",
      "datePublished": "{{.Page.Date.Format "2006-01-02T03:00:00"}}+00:00",
      "dateModified": "{{.Page.Lastmod.Format "2006-01-02T03:00:00"}}+00:00",
      "author": {
      "@type": "Person",
      "name": "余漢克"
      },
      "publisher": {
      "@type": "Organization",
      "name": "於是寫下生活筆記",
      "logo": {
          "@type": "ImageObject",
          "url": "https://yuslife.cc/logo.jpg"
      }
      },
      "description": "{{ .Description }}"
  },
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "name": "首頁",
      "item": "{{ .Site.BaseURL }}"
    },{
      "@type": "ListItem",
      "position": 2,
      "name": "{{ .Title }}"
    }]
  }]
</script>
{{ else if .IsPage }}
{{ $og := resources.Get .Params.featuredimage }}
<script type="application/ld+json">
    [{
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
        },
        "headline": "{{ .Title }} | {{ .Site.Title }}",
        {{ if $og }}
        "image": "{{ $og.RelPermalink }}",
        {{ end }}
        "datePublished": "{{.Page.Date.Format "2006-01-02T03:00:00"}}+00:00",
        "dateModified": "{{.Page.Lastmod.Format "2006-01-02T03:00:00"}}+00:00",
        "author": {
        "@type": "Person",
        "name": "余漢克"
        },
        "publisher": {
        "@type": "Organization",
        "name": "於是寫下生活筆記",
        "logo": {
            "@type": "ImageObject",
            "url": "https://yuslife.cc/logo.jpg"
        }
        },
        "description": "{{ .Description }}"
    },
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "首頁",
        "item": "{{ .Site.BaseURL }}"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ .Params.categories}}",
        "item": "{{ .Site.BaseURL }}/categories/{{ .Params.categories}}"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ .Title }}"
      }]
    }]
</script>
{{ else if .IsHome }}
{{ $og := resources.Get "og-img.jpg" }}
<script type="application/ld+json">
    [{
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
        },
        "headline": "{{ .Title }}",
        {{ if $og }}
        "image": "{{ $og.RelPermalink }}",
        {{ end }}
        "datePublished": "{{.Page.Date.Format "2006-01-02T03:00:00"}}+00:00",
        "dateModified": "{{.Page.Lastmod.Format "2006-01-02T03:00:00"}}+00:00",
        "author": {
        "@type": "Person",
        "name": "余漢克"
        },
        "publisher": {
        "@type": "Organization",
        "name": "於是寫下生活筆記",
        "logo": {
            "@type": "ImageObject",
            "url": "https://yuslife.cc/logo.jpg"
        }
        },
        "description": "{{ .Site.Params.description}}"
    },{
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "{{ .Site.BaseURL }}",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "{{ .Site.BaseURL }}/search?q={search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }]
</script>
{{ else }}
{{ $og := resources.Get "og-img.jpg" }}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
        },
        "headline": "{{ .Title }}",
        {{ if $og }}
        "image": "{{ $og.RelPermalink }}",
        {{ end }}
        "datePublished": "{{.Page.Date.Format "2006-01-02T03:00:00"}}+00:00",
        "dateModified": "{{.Page.Lastmod.Format "2006-01-02T03:00:00"}}+00:00",
        "author": {
        "@type": "Person",
        "name": "余漢克"
        },
        "publisher": {
        "@type": "Organization",
        "name": "於是寫下生活筆記",
        "logo": {
            "@type": "ImageObject",
            "url": "https://yuslife.cc/logo.jpg"
        }
        },
        "description": "{{ .Site.Params.description}}"
    }
</script>
{{ end }}